
<header class="size-full max-h-16 shadow-md flex justify-center">
  <div class=" flex justify-between gap-2 items-center max-w-xl">
    <button nz-button nzType="primary" (click)="createRoom()">Create a room</button>
    <nz-input-group >
      <input type="text" placeholder="room number..." nz-input [(ngModel)]="roomId"/>
    </nz-input-group>
    <button nz-button nzType="primary" (click)="joinAsRemoteRoom()">Join a room</button>
  </div>
</header>

<video autoPlay playsInline #videoElement class="host"></video>
<video autoPlay playsInline #screenShare class="screen-share"></video>
<button (click)="joinAsRemoteRoom()">Join</button>
<button (click)="shareScreen()">share screen</button>
<button (click)="stopShareScreen()">stop share screen</button>
<input type="number" [(ngModel)]="roomId"/>
<div id="container" class="bg-[red]"></div>
  @for (item of remoteUserStream; track $index) {
    <div class=" flex flex-col">
      <video autoPlay playsInline #remoteVideo [srcObject]="item.stream"></video>
      <button (click)="toggleRemoteUserMic(item)">Mic off</button>
      <button (click)="toggleRemoteUserCam(item)">Cam on</button>
    </div>
  }

  @for (item of remoteUserAudioStream; track $index) {
    <h1>{{item.id}}</h1>
    <div class=" flex flex-col">
      <audio autoPlay playsInline [srcObject]="item.stream"></audio>
      <button (click)="toggleRemoteUserMic(item)">Mic off</button>
    </div>
  }
