 @for (item of remoteUserStream; track $index) {
    <div>
      <h1>{{item.name}}</h1>
      <video autoPlay
             #remoteVideo
             playsInline
             [srcObject]="item.stream"
             class="w-[372px] h-[280px] rounded-md"
             [ngClass]="{'outline-2 outline-double outline-blue-800': item.talking}"></video>
      <div class="flex gap-1">
        <button nz-button nzType="primary" class="w-full"><i class="pi pi-microphone text-[20px]"></i></button>
        <button nz-button nzType="primary" class="w-full"><i class="pi pi-camera text-[20px]"></i></button>
        <button nz-button nzType="primary" class="w-full"><i class="pi pi-desktop text-[20px]"></i></button>
        <button nz-button nzType="primary" class="w-full"><i class="pi pi-sign-out text-[20px]"></i></button>
        <button nz-button
                nzType="primary"
                nz-popover
                nzPopoverTitle="Virtual background"
                [(nzPopoverVisible)]="visible"
                nzPopoverTrigger="click"
                [nzPopoverContent]="contentTemplate">
                <i class="pi pi-image text-[20px]"></i>
        </button>
        <ng-template #contentTemplate>
           <div class="flex flex-col">
             <button nz-button nzType="default" class="w-full">No blur</button>
             <button nz-button nzType="default" class="w-full">Low blur</button>
             <button nz-button nzType="default" class="w-full">Mid blur</button>
             <button nz-button nzType="default" class="w-full">High blur</button>
             <button nz-button nzType="default" class="w-full">Image</button>
           </div>
        </ng-template>
      </div>
    </div>
  }
